<template>
    <div>
        <v-alert v-if="alertSuccess"  v-model="alertSuccess"  dismissible type="success" >{{alertSuccessMessage}} </v-alert>
        <v-toolbar flat color="white">
            <v-toolbar-title>Clients</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="600px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New Client</v-btn>
                <v-alert v-if="alertError"  v-model="alertError"  dismissible type="error" >{{alertSuccessMessage}} </v-alert>
                <v-form>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md6>
                                        <v-text-field
                                                v-model="editedItem.name"
                                                v-validate="'required|min:6|max:25'"
                                                name="name"
                                                label="Full name"
                                        ></v-text-field>
                                        <!-- If it has an name error, display the first message associated with it. -->
                                        <span class="error--text" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                    </v-flex>
                                    <v-flex xs12 sm6 md6>
                                        <v-text-field
                                                name="email"
                                                v-model="editedItem.email"
                                                v-validate="'required|email'"
                                                label="Email"
                                        ></v-text-field>
                                        <!-- If it has an email error, display the first message associated with it. -->
                                        <span class="error--text" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                                    </v-flex>
                                    <v-flex xs12 sm6 md12>
                                        <v-text-field
                                                v-model="editedItem.phone"
                                                v-validate="'required|numeric'"
                                                name="phone"
                                                label="Phone">
                                        </v-text-field>
                                        <!-- If it has an phone error, display the first message associated with it. -->
                                        <span class="error--text" v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                                    </v-flex>
                                    <v-flex xs12 sm6 md12>
                                        <v-label>Providers</v-label>
                                        <v-chip v-for="provider in editedItem.providers"
                                                :key="provider._id"
                                                color="primary"
                                                text-color="white"
                                        >{{provider.name}}
                                        </v-chip>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <Providers :clients="clients" :edited-client="editedItem" ref="provider"></Providers>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="clients"
                hide-actions
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left">{{ props.item.phone }}</td>
                <td class="text-xs-right">

                    <v-chip color="primary" text-color="white" v-for="provider in props.item.providers"
                            :key="provider._id"
                    >
                    {{ provider.name }}
                    </v-chip>
                </td>
                <td class="text-xs-left">
                    <v-icon
                            small
                            class="d-inline-flex"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            class="d-inline-flex"
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import Providers from '../components/Providers'
    import clientService from '../services/ClientService'
    export default {
        name: 'Clients',
        components: {
            Providers
        },
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'Full Name',
                    align: 'left',
                    sortable: true,
                    value: 'name'
                },
                { text: 'Email', value: 'email' },
                { text: 'Phone', value: 'phone' },
                { text: 'Providers', value: 'providers',align: 'right' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            clients: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                email: '',
                phone: '',
                providers:[]
            },
            defaultItem: {
                name: '',
                email: '',
                phone: '',
                providers:[]
            },
            alertSuccess:false,
            alertError : false,
            alertSuccessMessage : ''
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Client' : 'Edit Client'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                clientService.getAllClients().then(response =>{
                    this.clients = response.data;
                }).catch(error => {
                    this.onlyErrorAlert(error);
                });
            },

            editItem (item) {
                this.editedIndex = this.clients.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
                this.$refs.provider.selected = this.editedItem.providers;
            },

            deleteItem (item) {
                const index = this.clients.indexOf(item);
                if(confirm('Are you sure you want to delete this client?')){
                clientService.delete(item._id).then(response =>{
                    this.clients.splice(index, 1);
                    this.alert(response);
                }).catch(error =>{
                    this.onlyErrorAlert(error);
                });
                }
            },

            close () {
                this.dialog = false;
                this.$refs.provider.selected = [];
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                this.$validator.validate().then(result => {
                    if (result) {

                        this.editedItem.providers = this.$refs.provider.selected;

                        if (this.editedIndex > -1) {
                            Object.assign(this.clients[this.editedIndex], this.editedItem);
                            clientService.update(this.editedItem._id,this.editedItem).then(response => {
                                this.alert(response);
                            }).catch(error=>{
                                this.onlyErrorAlert(error);
                            })
                        } else {
                            clientService.create(this.editedItem).then(response => {
                                if(response.success)
                                    this.clients.push(response.data);
                                this.alert(response);
                            }).catch(error=>{
                                this.onlyErrorAlert(error);
                            })
                        }
                    }
                });
            },
            alert(response){
                this.alertSuccess = response.success;
                this.alertError = response.error;
                this.alertSuccessMessage = response.message;
                if(response.success){
                    this.close();
                }
            },
            onlyErrorAlert(error){
                this.alertError = true;
                this.alertSuccessMessage = error.message;
            }
        }
    }
</script>