<template>
    <div>
        <v-alert v-if="alertSuccess"  v-model="alertSuccess"  dismissible type="success" >{{alertSuccessMessage}} </v-alert>
        <v-toolbar flat color="white">
            <v-toolbar-title>Providers</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="400px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New Provider</v-btn>
                <v-alert v-if="alertError"  v-model="alertError"  dismissible type="error" >{{alertSuccessMessage}} </v-alert>
                <v-form>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md12>
                                        <v-text-field
                                                v-model="editedItem.name"
                                                label="Name"
                                                v-validate="'required|min:6|max:25'"
                                                name="name"
                                                v-on:keyup="changeName"
                                        ></v-text-field>
                                        <!-- If it has an name error, display the first message associated with it. -->
                                        <span class="error--text" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save" :disabled="saveDisabled">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>

            </v-dialog>
        </v-toolbar>
        <v-data-table
                v-model="selected"
                :headers="headers"
                :items="providers"
                :pagination.sync="pagination"
                select-all
                item-key="name"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <tr :active="props.selected" @click="props.selected = !props.selected">
                    <td>
                        <v-checkbox
                                :input-value="props.selected"
                                primary
                                hide-details
                        ></v-checkbox>
                    </td>
                    <td class="text-xs-left">{{ props.item.name }}</td>
                    <td class="text-xs-left">
                    <v-icon
                            small
                            class="d-inline-flex"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            class="d-inline-flex"
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import providerService from '../services/ProviderService'
    export default {
        name: 'Providers',
        props : ['clients','editedClient'],
        data: () => ({
            dialog: false,
            pagination: {
                sortBy: 'name'
            },
            selected: [],
            headers: [
                {
                    text: 'Name',
                    align: 'left',
                    sortable: true,
                    value: 'name'
                },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            providers: [],
            editedIndex: -1,
            editedItem: {
                name: ''
            },
            defaultItem: {
                name: ''
            },
            alertSuccess:false,
            alertError : false,
            alertSuccessMessage : '',
            saveDisabled : false,
            rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 25 || 'Max 25 characters',
            }

        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Provider' : 'Edit Provider'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                providerService.getAllProviders().then(response =>{
                    this.providers = response.data;
                }).catch(error => {
                    this.onlyErrorAlert(error);
                });
            },

            editItem (item) {
                this.saveDisabled = true;
                this.editedIndex = this.providers.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true
            },

            deleteItem (item) {
                if(confirm('Are you sure you want to delete this provider?')){

                    this.clients.map(function(value){
                        if(value.providers){
                            let providers = Object.keys(value.providers).map(function(key) {
                                return value.providers[key];
                            });
                            providers.map(function(value,key){
                                return (value._id != item._id) ? value : providers.splice(key,1);
                            });
                            value.providers = providers;
                        }
                        return value;
                    });

                    var editedClientProviders = this.editedClient.providers;

                    if(editedClientProviders){
                        let editedClientProvidersNew = Object.keys(editedClientProviders).map(function(key) {
                            return editedClientProviders[key];
                        });

                        editedClientProvidersNew.map(function(value,key){
                            return (value._id != item._id) ? value : editedClientProvidersNew.splice(key,1);
                        });

                        this.editedClient.providers = editedClientProvidersNew;
                    }

                    const index = this.providers.indexOf(item);

                    providerService.delete(item._id).then(response =>{
                        this.providers.splice(index, 1);
                        this.alert(response);
                    }).catch(error =>{
                        this.onlyErrorAlert(error);
                    });
                }
            },

            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                this.$validator.validate().then(result => {

                    if (result) {
                        if (this.editedIndex > -1) {

                        Object.assign(this.providers[this.editedIndex], this.editedItem);

                        providerService.update(this.editedItem._id,this.editedItem).then(response => {

                            this.clients.map(function(value){
                                if(value.providers){
                                    var providers = Object.keys(value.providers).map(function(key) {
                                        return value.providers[key];
                                    });
                                    providers = providers.map(function(value){
                                        return (value._id != response.data._id) ? value : response.data;
                                    });
                                    value.providers = providers;
                                }
                                return value;
                            });

                            var editedClientProviders = this.editedClient.providers;

                            if(editedClientProviders){
                                var editedClientProvidersNew = Object.keys(editedClientProviders).map(function(key) {
                                    return editedClientProviders[key];
                                });

                                editedClientProvidersNew = editedClientProvidersNew.map(function(value){
                                    return (value._id != response.data._id) ? value : response.data;
                                });

                                this.editedClient.providers = editedClientProvidersNew;
                            }

                            this.alert(response);
                        }).catch(error=>{
                            this.onlyErrorAlert(error);
                        })
                    } else {
                        providerService.create(this.editedItem).then(response => {
                            if(response.success)
                                this.providers.push(response.data);
                            this.alert(response);
                        }).catch(error=>{
                            this.onlyErrorAlert(error);
                        })
                    }
                    }
                });

            },
            changeName(){
                this.saveDisabled=false;
            },
            alert(response){
                this.alertSuccess = response.success;
                this.alertError = response.error;
                this.alertSuccessMessage = response.message;
                if(response.success){
                    this.close();
                }

            },
            onlyErrorAlert(error){
                this.alertError = true;
                this.alertSuccessMessage = error.message;
            }
        }
    }
</script>