<template>
  <v-app>
    <v-content>
        <!--<Providers/>-->
        <Clients/>
    </v-content>
    <v-footer :fixed="true" app>
      <span>Aren Amirjanyan &copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>

import Clients from './components/Clients'
import Providers from "./components/Providers";

export default {
  name: 'App',
  components: {
      Providers,
      Clients
  },
  data () {
    return {
    }
  }
}
</script>
